# VIM temp files
.*.sw[opn]
*.un~

# OO tmp files
.~lock.*#

# Python temp files
*.pyc
__pycache__

# virtualenv .ENV directory
.ENV*

# bash .direnv directory
.direnv

# .DS_Store
.DS_Store

travelperk/tmp.py
travelperk/tmp/
travelperk/TODO.txt
travelperk/config/adam.py
